src/main/mule/configuratio-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="1cb4074c-64c6-49cf-8bf4-a2b2458bd144" file="${env}-config.properties" />
	<global-property doc:name="Global Property" doc:id="ea7f2872-c400-40a4-bc4d-069deaef7060" name="env" value="dev" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="490d5ccb-7cb8-48f8-805a-8b89fbcba2d1" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="df53a4cb-9ebf-4850-a496-4a50b7bd7be3" file="dev-config.properties" key="jay" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="configuratio-demoFlow" doc:id="bc4bf9be-7ba1-432a-b54f-7162607cc042" >
		<http:listener doc:name="Listener" doc:id="a1c8ce21-9762-4676-bb6d-5f96b2fcc99a" config-ref="HTTP_Listener_config" path="/config">
			<http:error-response reasonPhrase="error" >
				<http:body ><![CDATA[#[output text/plain --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="6625ae5a-f17e-49e4-a648-743421c79f06" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"response": p('secure::resp.message')
}
	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[1/0]" doc:name="Set Variable" doc:id="39ecde17-e69a-4b05-a6f8-663c8b387e14" variableName="error"/>
		<logger level="INFO" doc:name="Logger" doc:id="835b5758-aab2-40f4-a656-b775a1ba16c7" message="logged"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9d5599f0-814d-4b26-96bd-10cffd153254" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="e564206b-042f-43c1-91a1-87eca756db38" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"error"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
